
<header>
    <img 
        src="assets/img/eu1.jpg" 
        alt="imagem de Eduardo Valle Endson"
        width="130px"
        height="130px"
        loading="eager"
    />
    <h1>Eduardo Valle Endson</h1>
</header>

<aside>
    <div class="container">
        <p>Desenvolvedor Full Stack - JavaScript | Angular | Node | Java | Spring Boot</p>
        <p>Nova Iguaçu, Rio de Janeiro, Brasil</p>
        <p>
            Graduado em Análise e Desenvolvimento de Sistemas de Informação pela Universidade Estácio de Sá, 
            possuo mais de 3 anos de experiência com desenvolvimento full-stack, tendo participado de equipes de implantação e sustentação de projetos de software 
            no ramo de e-commerce e telecomunicações, além de experiência em integrações com APIs Restful.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary"> 
                        <img
                            class="a-img-download"
                            src="assets/icons/download.svg" 
                            alt="ícone de download"
                            width="22px"
                            height="24px"
                        /> Dowload Currículo
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/eduardovalleendson/" target="_blank" class="btn btn-secondary">
                        <img
                            class="a-img-linkedin"
                            src="assets/icons/linkedin.svg" 
                            alt="ícone de download"
                            width="26px"
                            height="28px"
                        /> LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://github.com/eendson" target="_blank" class="btn btn-git">
                        <img
                        class="a-img-github"
                        src="assets/icons/github-mark-white.png" 
                        alt="ícone de download"
                        width="22px"
                        height="24px"
                    /> GitHub
                    </a>
                </li>
            </ul>
        </nav>
        <section>
            <figure>
                <img 
                    src="assets/icons/whatsapp.svg"
                    alt="icone do whatsapp"
                    width="22px"
                    height="24px"
                />
                <figcaption>
                    <a href="https://api.whatsapp.com/send?phone=5521985305216&text=Oi%20Eduardo,%20gostaria%20de%20te%20contratar/or%C3%A7ar%20um%20job!" 
                        target="_blank"
                    >
                        <strong>Envie uma mensagem para:</strong>
                        <p>whatsapp: +55(21)9 8530-5216</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img 
                    src="assets/icons/mail.svg"
                    alt="icone de e-mail"
                    width="22px"
                    height="24px"
                />
                <figcaption>
                    <a href="mailto:eendson@gmail.com" 
                        target="_blank"
                    >
                        <strong>Envie uma e-mail para:</strong>
                        <p>eendson&#64;gmail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>